.navbar {
    background-color: #62B8B1;
}

.icon {
    height: 30px;
    width: 30px;
    border-radius: 2px;
    /* margin-right: 10px; */
}

.button1 {
    background-color: #62B8B1;
    color: white;
}

.button2 {
    background-color: white;
    color: #62B8B1;
}

.footer {
    background-color: #62B8B1;
}